
{{#each arrayOfObjects as |object|}}
    <div class="cart-item-{{object.id}}">
        <h2 class="cart-pizza-name">{{object.pizza_name}}</h2>

        <h3>{{object.pizza_description}}</h3>

        <img src="./images/pizza-imgs/{{object.filename}}" alt="{{object.pizza_description}}">

        <p class="cart-pizza-price">${{object.price}}</p>

        <button>REMOVE FROM CART</button>
    </div>
{{/each}}