<section class="container">
<div id="menu-header">Pizza menu:
</div>
{{#each pizza as |object|}}
<h1>{{object.pizza_name}}</h1>
<h3>{{object.pizza_description}}</h3>
<p>${{object.price}}</p>
<button><a href="/menu/{{object.id}}">Add to cart</a></button>
{{/each}}
<h1>{{pizza_name}}</h1>
<h3>{{pizza_description}}</h3>
<button><a href="/menu">View full menu</a></button>
</section>
