<section class="container">

    <div id="menu-header">Pizza Menu</div>

    {{#each pizza as |object|}}
        <h1 class="menu-pizza-name">{{object.pizza_name}}</h1>

        <h3>{{object.pizza_description}}</h3>

        <img src="./images/pizza-imgs/{{object.filename}}" alt="{{object.pizza_description}}">

        <p class="menu-pizza-price">${{object.price}}</p>

        <a href="/menu/{{object.id}}" class="menu-pizza-add-to-cart">Add to cart</a>
    {{/each}}

</section>
